//--> Main Rules
* { 
    @include prefixAll(box-sizing, border-box);
    font-family: "Times New Roman";
}

//--> Make Style For Body
body {
    --main-Color: #{$mainColor};
    margin: 0;
    padding: 0;
}

//--> Style Of Main Container
.container { width: 85%; margin: auto }
